h1 {
    text-align: center;
}

body {
    background-color: #f8f9fa;
    background-image: url(https://as01.epimg.net/mexico/imagenes/2022/08/06/reportajes/1659755377_894842_1660291127_noticiareportajes_grande.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cover {
    padding-top: 10%;
}
p {
    background-color: white;
}

h2 {
    text-align: center;
}

h3 {
    color: white;
    font-style: italic;
    font-size: large;
}

h4 {
    font-style: italic;
    font-size: large;
    color: crimson;
}
.formulario {
    text-align: center;
    color: black;
    margin-top: 10%;
    font-style: italic;
  
}